@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0d0c22;
  color: white;
}

.spinner {
  border: 8px solid #e5e7eb;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
